body
{
    background: #FFF;
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
    color: #444;
    margin: 0px 0px 0px 0px;
}






/* Left, Top and Center panels */
#panel_enc
{
    width: 1200px;
    height: 900px;
    text-align: left;
    display: table;
}
#panel_top
{
    width: 100%;
    height: 70px;
    background: #F1F1F1;
    font-size: 10pt;
    text-align: left;
    color: #777;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}
#panel_top img
{
    margin-top: 10px;
    margin-left: 5px;
}
#panel_top_imgdiv
{
    width: 260px;
    height: 60px;
    float: left;
}
#panel_top_txtdiv
{
    width: 300px;
    height: 60px;
    float: left;
    line-height: 110px;
    margin-left: 10px;
}
#panel_top_client
{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #F1F1F1;
    font-size: 18pt;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}
#client_center_enc
{
    width: 1000px;
    height: 500px;
    display: table;
    background: #FFF;
}
#client_center_def
{
    width: 100%;
    height: 110px;
    background: #F1F1F1;
    /* border-radius: 8px;
    box-shadow: 0px 2px 2px #CCC; */
}
.panel_center_client
{
    width: 100%;
    height: 600px;
    clear: both;
    margin-top: 0px;
    /* background: #F9F9F9; */
    text-align: left;
}

#panel_left
{
    width: 220px;
    height: 850px;
    background: #F1F1F1;
    float: left;
    color: #444;
    overflow: auto;
}
#panel_center
{
    height: 850px;
    float: left;
    /* background: #FFF; */
    /* margin-top: 15px; */
    /* padding-left: 15px; */
    margin-left: 10px;
    font-size: 13pt;
    color: #444;
    display: table;
}

.panel_left_menugroup
{
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 14pt;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 3px;
    
    background: #222;
    /* background: #444;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background-image: -moz-linear-gradient(top, #666,#333); */
    
    /* box-shadow: -5px 2px 10px #CCC; */
}
.panel_left_menuitem
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 10pt;
    background: #EEE;
    text-indent: 5px;
    cursor: pointer;
    
    /* box-shadow: -5px 2px 10px #CCC; */
}
.panel_left_menuitem:hover
{
    background: #F9F9F9;
}
.panel_left_menuitem img
{
    margin-right: 5px;
    padding-top: 5px;
    float: left;
    margin-left: 5px;
}
.panel_left_menuitem div
{
    height: 30px;
    line-height: 30px;
    float: left;
}
.panel_left_menuitem img
{
    margin-right: 5px;
}














/* Default page boxes */
#homeic_boxes
{
    width: 610px;
    height: 125px;
    margin-bottom: 10px;
    display: table;
    color: #444;
}
.homeic_box
{
    width: 120px;
    height: 100px;
    background: #F1F1F1;
    padding: 10px;
    text-align: center;
    font-weight:bold;
    font-size: 10pt;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    
    /* border-radius: 8px;
    box-shadow: 0px 2px 4px #CCC; */
}
.homeic_box:hover
{
    background: #F9F9F9;
}
.homeic_box img
{
    margin-top: 15px;
    display: block;
    margin-left: 30px;
}


/* Client top boxes */
#homeic_boxes_client
{
    width: 610px;
    height: 125px;
    margin-bottom: 10px;
    display: table;
    color: #444;
    text-align:left;
}
.homeic_box_client
{
    width: 95px;
    height: 80px;
    background: #F1F1F1;
    padding: 10px;
    text-align: center;
    font-weight:bold;
    font-size: 10pt;
    cursor: pointer;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    /* border-radius: 8px;
    box-shadow: 0px 2px 4px #CCC; */
}
.homeic_box_client:hover
{
    background: #F9F9F9;
}
.homeic_box_client img
{
    width: 48px;
    height: 48px;
    margin-top: 15px;
    display: block;
    margin-left:15px;
}













/* Grey boxes for tabular dispay etc */
.box
{
    width: 420px;
    height: 250px;
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box_title
{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 11px;
    text-indent: 20px;
    font-weight: bold;
    color: #777;
    display: table;
    
    background: #F1F1F1;
    background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#CCC));
    background-image: -moz-linear-gradient(top, #F1F1F1,#CCC);
    
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}
.box_content
{
    width: 100%;
    height: 200px;
    background: #F1F1F1;
    padding: 10px;
    display: table;
    border: 1px solid #CCC;
    
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
}

/* Tables within grey boxes */
.box_table
{
    text-align: center;
}
.box_table tr
{
    height: 25px;
}
.box_table tr:hover
{
    background: #FFF;
}
.box_table td
{
    height: 25px;
    border-bottom: 1px solid #D9D9D9;
}




/* Settings Table style */
.cfg_table
{
    text-align: left;
    margin-top: 10px;
    font-size: 10pt;
    color: #777;
}










/* Links or fake span links */
.links
{
    color: #1589FF;
    font-family: Arial;
    font-size: 11pt;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.links:hover
{
    text-decoration: underline;
}






/* Input Boxes */
.inputs
{
    width: 250px;
    height: 35px;
    line-height: 35px;
    text-indent: 5px;
    background: #FFF;
    font-family: Arial;
    font-size: 10pt;
    color: #666;
    border: 1px solid #DDD;
    
    /* border-radius: 6px; */
}
.inputs:hover
{
    background: #F9F9F9;
    font-size: 9pt;
    font-weight: bold;
}
.inputs:focus
{
    font-size: 9pt;
    font-weight: bold;
    color: #333;
}

/* Required Inputs */
.inputs_req
{
    width: 250px;
    height: 35px;
    line-height: 35px;
    text-indent: 5px;
    background: #FFFFAE;
    font-family: Arial;
    font-size: 10pt;
    color: #666;
    border: 1px solid #DDD;
    
    /* border-radius: 6px; */
}
.inputs_req:hover
{
    background: #F9F9F9;
    font-size: 9pt;
    font-weight: bold;
}
.inputs_req:focus
{
    font-size: 9pt;
    font-weight: bold;
    color: #333;
}

/* Selects / Dropdowns */
.dropdown
{
    width: 220px;
    height: 30px;
    line-height: 30px;
    background: #FFF;
    border: 1px solid #DDD;
    color: #666;
    
    /* border-radius: 4px; */
}
.txteditor
{
    width: 800px;
    height: 400px;
    padding: 10px;
    /* border-radius: 8px; */
    font-family: Verdana;
    font-size: 10pt;
    color: #444;
    border: 1px solid #CCC;
    margin-top: 5px;
}





.tabs
{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    display: table;
}
.tab
{
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-indent: 10px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    font-family: Arial;
    font-size: 11pt;
    font-weight: bold;
    color: #FFF;
    display: table-cell;
    
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#999));
    background-image: -moz-linear-gradient(top, #CCC,#999);
    
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    
    box-shadow: 2px 5px 10px #CCC;
}
.tab:hover
{
    background: #306EFF;
}

#tab_games_edit_enc
{
    width: 100%;
    height: 25px;
    margin-left: 5px;
}
.tab_games_edit
{
    width: 135px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 9pt;
    float: left;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    color: #444;
    border-bottom: 1px solid #CCC;
    
    /* border-top-left-radius: 6px;
    border-top-right-radius: 6px; */
    
    
    background: #C5C5C5;
    background: -webkit-gradient(linear, left top, left bottom, from(#C5C5C5), to(#DDD));
    /* background-image: -moz-linear-gradient(top, #C5C5C5,(#DDD); */
}
.tab_games_edit:hover
{
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#F1F1F1));
    /* background-image: -moz-linear-gradient(top, #EEE,(#F1F1F1); */
}
.tab_games_edit_sel
{
    width: 135px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 9pt;
    float: left;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    color: #444;
    
    /* border-top-left-radius: 4px;
    border-top-right-radius: 4px; */
    
    background: #306EFF;
}





/* Top of page titles/icons */
.page_title
{
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
}
.page_title_icon
{
    width: 70px;
    height: 70px;
    float: left;
}
.page_title_text
{
    height: 70px;
    line-height: 70px;
    font-family: Arial;
    font-size: 16pt;
    color: #777;
    float: left;
}





/* Input Submit buttons etc */
.button
{
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#999));
    background-image: -moz-linear-gradient(top, #CCC,#999);
    
    /* border-radius: 6px;
    box-shadow: 1px 2px 5px #CCC; */
}
.button:hover
{
    background: #444;
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#444));
    background-image: -moz-linear-gradient(top, #999,#444);
    color: #FFF;
}




/* Information box for displaying success/error messages */
.infobox
{
    width: 600px;
    height: 20px;
    padding: 10px;
    background: #F5F5F5;
    /* border: 1px solid #5CB3FF; */
    border:1px solid #EEE;
    display: table;
    overflow: auto;
    margin-bottom: 10px;
    
    /* border-radius: 8px;
    box-shadow: 0px 2px 3px #CCC; */
}












/* SimpleModal popup box */
#modal
{
    width: 740px;
    height: 500px;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -18px;
    background: #F1F1F1;
    color: #444;
    padding: 10px;
    overflow: auto;
    
    /* border-radius: 8px;
    box-shadow: 0px 2px 4px #CCC; */
}


/* Default red warnings on default.php page */
.def_warnings
{
    width: 100%;
    height: 15px;
    line-height: 15px;
    font-family: Verdana;
    font-size: 9pt;
    color: red;
    margin-bottom: 10px;
}



#login_box
{
    width: 620px;
    height: 200px;
    background: #F5F5F5;
    padding: 10px;
    margin-top: 10px;
    display: table;
    
    /* border-radius: 8px;
    box-shadow: 0px 4px 4px #CCC; */
}
